"requirements": {
    ...
    "currently_due": [
        "relationship.representative",
        "relationship.owner",
    ],
    ...
}"requirements": {
    ...
    "currently_due": [
        "relationship.representative",
        "relationship.owner",
    ],
    ...
}